body{
font-family: 'Montserrat', sans-serif;
color: #171010;
margin: 0;
text-align: center;
background-color: white;
}
hr{
  border: dotted #F8485E;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}
h1{
  font-family: 'Sacramento', cursive;
  font-size: 3.125rem;
}
h2{
  font-family: 'Lobster', cursive;
  font-size: 2rem;
}
a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;

}
a:hover{
  color: #CEE5D0;
}
.First-section{
  background-color: #476072;
}
.bottom-cloud{
  position: absolute;
  left: 150px;
  top: 200px;
  width: 10%
}
.top-cloud{
  position: relative;
  left: 500px;
  top: 100px;
  width: 10%
}
.moon{
  position: relative;
  left: 300px;
  top: 20px;
  width: 10%;
}
.skill{
  margin: 100px auto 100px auto;
  width: 80%;
  text-align: center;
}
.profile_img{
  width: 10%;
}
.skill1{
  width: 30%;
  float: right;
  margin-right: 10%;
}
.buttom{
  padding-top: 10%;
}
.contact-me {
  width: 40%;
  margin: 200px auto 60px;
  line-height: 2;
}
.bottom-section{
  background-color: #476072;
  padding: 50px 0 20px;
}
.btn {
  background: #476072;
  background-image: -webkit-linear-gradient(top, #11CDD4, #1199E);
  background-image: -moz-linear-gradient(top, #11CDD4, #1199E);
  background-image: -ms-linear-gradient(top, #11CDD4, #1199E);
  background-image: -o-linear-gradient(top, #11CDD4, #1199E);
  background-image: linear-gradient(to bottom, #11CDD4, #1199E);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #476072;
  background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AB);
  background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AB);
  background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AB);
  background-image: -o-linear-gradient(top, #30E3CB, #2BC4AB);
  background-image: linear-gradient(to bottom, #30E3CB, #2BC4AB);
  text-decoration: none;
}
.copyright{
  color: #476072;
  font-size: 0.75rem;
  padding: 20px 0;
}
